//背景颜色
$bg-color-common: #f2f8fa;
$bg-color-white: #fff;
$bg-color-black: #000;
$bg-color-light: #f90;

//文字颜色
$text-color-l: #333;
$text-color-ll: #666;
$text-color-lll: #999;
$text-color-light: #f90;
$text-color-white: #fff;

//字体定义规范
$font-size-small-ss : 18rpx;
$font-size-small-s : 20rpx;
$font-size-small : 24rpx;
$font-size-medium : 28rpx;
$font-size-medium-x : 30rpx;
$font-size-large : 36rpx;
$font-size-large-x : 40rpx;
$font-size-large-xx : 44rpx;

//边框颜色
$border-color-l: #e3e3e3;
$border-color-ll: #dfdfdf;

//边角
$border-radius: 10rpx;
